{% extends 'base.html.twig' %}
{% block bodyclass 'text-center logged-out' %}

{% block body %}
    <form action="" method="POST" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Famille ou ami ?</h1>
        <small>(demandez votre accès !)</small>
        <div class="form-group">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="email" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="mot de passe" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" value="">connexion</button>
        </div>
    </form>
{% endblock %}