{% extends 'base.html.twig' %}
{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="jumbotron">
    {{ form_start(formUser) }}
    {{ form_widget(formUser) }}
    <button type="submit" class="btn btn-success">enregistrer</button>
    {{ form_end(formUser) }}
</div>
{% endblock %}
