{% extends 'base.html.twig' %}

{%block body%}
    <div class="jumbotron" style="background-color: #EEEEEE">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                {{form_start(form)}}
                {{form_widget(form)}}
                <input class="btn btn-success" type="submit" value="{{ labelSubmit }}" />
{#                {% if article.titre is not null %}#}
{#                <a href="{{ article.getChemin | default("#") }}" class="btn btn-info"> voir l' article </a>#}
{#                {% endif %}#}
                {{form_end(form)}}
            </div>
        </div>
    </div>
{%endblock%}