{% extends 'base.html.twig' %}

{% block body %}
    {% for avis in allAvis %}

        <article class='grandVisuel article-{{ avis.article.getEnfant }}'>

        <a href='{{ avis.article.getChemin }}' >
            <h1>{{ avis.article.titre }}</h1>
            <section class="comments">
                <strong>{{ avis.signature }} : </strong>
                {{ avis.commentaire }}
                <i> - {{ avis.dateavis|date('d/m/Y') }}</i>.
            </section>
        </a>
        <hr>
        <a href='{{ path('mr_admin_deleteAvis', {'avis':avis.id}) }}' onclick="return confirm('Suppression définitive du commentaire ?');">supprimer</a></article>

    {% endfor %}
{% endblock %}