{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="table-responsive">
    <table class="table table-light table-striped">
        <thead>
        <tr>
            <th scope="col">identifiant</th>
            <th scope="col">email</th>
            <th scope="col">♥</th>
            <th scope="col">newsletter</th>
            <th scope="col">dernière connexion</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

    {% for user in allUsers %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.likes | length }}</td>
            <td>{{ user.wantNewsByEmail ? '✅':'⛔' }}</td>
            <td>{{ user.lastSuccessLogin?user.lastSuccessLogin|date('d/m/Y H:i:s', 'Europe/Paris') }}</td>
            <td><a class="btn btn-success" href="{{ path('mr_security_overwrite_password_user', { 'user': user.id }) }}">modifier</a></td>
        </tr>
    {% endfor %}

        </tbody>
    </table>
    </div>
</div>

{% endblock %}