@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    box-sizing : border-box;
}

.turbo-progress-bar {
    height: 5px;
    background-color: black;
}

html { font-size: 80%; }

body {
    margin:0;
    padding:0;color:#999;
    font-family: 'Ubuntu', arial, serif;
    font-size: 1.2rem;
}

body.logged-in{
    background:#FFF url("../img/illustration-9921eee84ee2e2a5f657c1adfe34fc89.jpg") repeat fixed;
}

a {
    border : 0;
    color : #ccc;
    text-decoration : none;
}

h1,h2,h3,h4,h5,h6{
    color:#000;
    margin:0;
    padding:0;
    font-weight: bold;
}

article{
    display:block;
    font-size: 1.4rem;
    text-align:center;
    margin:10px auto 30px;
    color:#333;

    padding:15px;
    background-color: #fff;
    box-shadow: 0 0 12px #888;
}

article p{
    color:#333;
}

.btn-connexion {
    display: block;
    padding: 0.4em;
    background-color: black;
    text-align: center;
}

.btn-commentaire {
    width: 100%;
}

.infoNbComments{
    font-size:1.1rem;
    text-align:right;
    color:#999;
}

.comments {
    padding:0.8em;
    margin-top:1em;
    color: #fff;
}
.comments textarea{
    width: 100% ;
    padding:1em ;
}
.comments > div{
    text-align: left;
    padding-bottom: 1em;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 1em;
}

img, video {
    width:100%;
    height:auto;
    border:0;
    margin-bottom:8px;
}

footer {
    display:block;
    width:100%;
    max-width:640px;
    font-size: 1.2rem;
    text-align:center;
    margin:30px auto;
    color:#eee;
    background-color:#000;
    text-transform: uppercase;
}

footer a {
    display: inline-block;
    padding : 9px;
    width: 100%;
}

footer .mapagination a {
    width: auto;
}

footer .active a {
    background-color: #555;
}

.inactif {
    color: #222;
    border : 0;
    font-weight : bold;
    text-decoration : none;
}

#apercu {
    display:none;
}

#signature{
    position : absolute;
    top : 10px;
    right : 10px;
    width:auto;
    height:auto;
    border:0;
    float:none;
    margin:auto;
}

.btnBigScreen{
    font-size:1.1rem;
    font-weight:bolder;
    color:#222;
    text-transform:uppercase;
    background-color:#ddd;
    padding:2px 5px;
}

#bigscreen article {
    position : absolute;
    bottom : 10px;
    right : 10px;
    margin:0;
    padding:5px;

    border-radius:0;
    max-width:400px;
    background-color: rgba(255,255,255,0.8);
}

#bigscreen footer{
    margin: 0 auto;
}

.form-ajout img {
    width: auto;
    height: auto;
}
label {
    width: 150px;
}


@media screen and (max-width: 800px) {
    body.logged-in {
        background-image:none;
        background-color:#222;
    }
    .btnBigScreen{
        display: none;
    }
}

.itemResult {
    background-color: #222;
    color: #CCC;
    padding: 3px;
    display: inline-block;
    margin: 2px auto;
    max-width: 49%;
}





.article-marthe h1 {
    color: #F06;
}

.article-robin h1 {
    color: #369;
}

.article-lesdeux h1 {
    color: #222;
}

.article-marthe .comments {
    background-color: #F06;
}

.article-robin .comments {
    background-color: #369;
}

.article-lesdeux .comments {
    background-color: #222;
}




html,
body.logged-out {
    height: 100%;
}

body.logged-out {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
 form{
     padding: 1.3em;
     background: #eee;
     color: #555;
 }