<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>{% block title %} Marthe et Robin {% endblock %}</title>
    <meta name="description" content="Les aventures de Marthe (la grande sœur) et Robin (son petit frère) dans leur presque-quotidien, une histoire familiale et amicale pour notre entourage, bref la vie.'
">
    <link rel="apple-touch-icon" href="{{ asset('../icons/apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('../icons/apple-touch-icon-72x72-precomposed.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('../icons/apple-touch-icon-114x114-precomposed.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('../icons/apple-touch-icon-144x144-precomposed.png') }}" />

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>

<body class="{%block bodyclass 'logged-in' %}">

<div class="container">
    {%  if app.user %}
        {%  block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('mr_index') }}" >Marthe et Robin</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('mr_search') }}">Recherche</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('mr_admin_avis') }}">Voir les commentaires</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('mr_admin_addArticle') }}">Ajouter un article</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"  id="dropdown02" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">utilisateurs</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                                        <a class="dropdown-item" href="{{ path('mr_admin_user_list') }}" >liste</a>
                                        <a class="dropdown-item" href="{{ path('mr_security_registration') }}" >ajouter</a>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown07">
                                    <a class="dropdown-item" href="{{ path('mr_security_settingNewsletter') }}" >préférence newsletter</a>
                                    <a class="dropdown-item" href="{{ path('mr_security_resetpwd') }}" >modifier le mot de passe</a>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}" >se déconnecter</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
    {% endif %}

    {% block body %}{% endblock %}
</div>
</body>
</html>