{% extends 'base.html.twig' %}
{% block body %}
{% for article in articles %}
    <article  class='grandVisuel article-{{ article.getEnfant}}'>
        <a href='{{ article.getChemin }}' >
            <img src="{{ asset('/images/'~article.visuel) | imagine_filter('index_thumbnail') }}"  alt="{{ article.titre }}" />
            {% if article.typearticle == "video" %}vidéo /{% endif %}
        </a>
        <time datetime='{{ article.dateArticle|date('Y-m-d') }}' >{{ article.dateArticle|date('d/m/Y') }}</time>{% if article.likes|length %} <span> - {{ article.likes|length }} ♥ </span> {% endif %}
        <a href='{{ article.getChemin }}' >
            <h1>{{ article.titre }}</h1>
            <small>{{ article.avis | length }} commentaire{% if article.avis|length>1 %}s{% endif %}</small>
        </a>
    </article>
{% else %}
    <p>aucun article</p>
{% endfor %}

<footer>
    {% include 'pagination.html.twig' %}
</footer>
{% endblock %}