{% if pagination.nbPages > 0 %}
    <div class="mapagination">
        {% if pagination.page > 1 %}
            <span>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': 1})) }}"> << </a>
            </span>
{#            <span>#}
{#                <a href="{{ path(pagination.nomRoute,#}
{#                    pagination.paramsRoute|merge({'page': pagination.page-1})) }}"> < </a>#}
{#            </span>#}
        {% endif %}

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(pagination.page-2, 1), min(pagination.page+2, pagination.nbPages)) %}
            <span {% if p == pagination.page %}class="active"{% endif %}>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': p})) }}"> {{ p }} </a>
            </span>
        {% endfor %}

        {% if pagination.page < pagination.nbPages %}
{#            <span>#}
{#                <a href="{{ path(pagination.nomRoute,#}
{#                    pagination.paramsRoute|merge({'page': pagination.page+1})) }}"> > </a>#}
{#            </span>#}
            <span>
                <a href="{{ path(pagination.nomRoute,
                    pagination.paramsRoute|merge({'page': pagination.nbPages})) }}"> >> </a>
            </span>
        {% endif %}
    </div>
{% endif %}