{% extends 'base.html.twig' %}

{% block body %}
    <form action="" action="GET" class="comments bg-light">
        <input type="text" name="keyword">
        <input type="submit" value="rechercher">
    </form>
    <p class="bg-warning">{{ messageInfo}}</p>
    {% if articles is not empty %}
        {% for article in articles %}
        <div class='itemResult article-{{ article.getEnfant}}'>
            <a href='{{ article.getChemin }}' >
                <img src="{{ asset('/images/'~article.visuel) | imagine_filter('admin_thumbnail') }}"  alt="{{ article.titre }}" />
            </a>
            <div>
                <time datetime='{{ article.dateArticle|date('Y-m-d') }}' >{{ article.dateArticle|date('d/m/Y') }}</time>
                    <p>{{ article.titre }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="bg-light">Aucun article ne correspond à la recherche.</p>
    {% endif %}
{% endblock %}