{% extends 'base.html.twig' %}

{% block body %}

{% if article is not empty %}
    <twig:ArticleComponent
            article="{{ article }}"
            formCommentaire="{{ formCommentaire }}"
    />
{% else %}
    <p>pas d'article</p>
{% endif %}

<footer>
    <a href='{{ lienRetourListe }}' >retour à la liste</a>
</footer>
    <script type="text/javascript">
        function confirmToContinue(){
            return confirm("Êtes-vous sûr de vouloir supprimer ?");
        }
    </script>
{% endblock %}