<article  class='grandVisuel article-{{ article.getEnfant}}'>

    {%  if article.typearticle == "image" %}
        <img src="{{ asset('/images/'~article.visuel) | imagine_filter('hd_image') }}"  alt="{{ article.titre }}" />
    {% else %}
        <video poster="{{ asset('/images/'~article.visuel) | imagine_filter('index_thumbnail') }}" width="500" height="300" preload="none" controls="controls" autoplay="true">
            <source src="{{ asset('/videos/'~article.video) }}" type="video/mp4" />
        </video>
        <p><a href="{{ asset('/videos/'~article.video) }}"><u>** telecharger la video **</u></a></p>
    {% endif %}

    <time datetime='{{ article.dateArticle|date('Y-m-d') }}' >{{ article.dateArticle|date('d/m/Y') }}</time>
    <h1>{{ article.titre }}</h1>
    <p>{{ article.description|nl2br }}</p>

    <a title="{% for like in article.likes %}{{ like.author.username }}{% if not loop.last %}, {% endif %}{% endfor %}" href="{{ path('mr_like_vote', {'slug': article.slug} ) }}">
        {% if article.likes|length %} {{ article.likes|length }} ♥ {% else %}♡ {% endif %}
    </a>

    {% if is_granted('ROLE_ADMIN') %}
        | <a href="{{ path('mr_admin_updateArticle', {'article' : article.id}) }}">modifier</a> | <a onclick="return confirmToContinue()" href="{{ path('mr_admin_deleteArticle', {'article' : article.id}) }}">supprimer</a>
    {% endif %}

    <div class="comments">
        {% for avis in article.avis %}
            <div>
                <strong>{{ avis.signature }} : </strong>
                {{ avis.commentaire }}
                <i> - {{ avis.dateavis|date('d/m/Y') }}</i>.
            </div>
        {% endfor %}

        <div>
            {{ form_start(formCommentaire) }}
            {{ form_row(formCommentaire.commentaire, { 'attr': {"placeholder" : "Vous laissez un petit mot ?"}}) }}
            <button type="submit" class="btn-commentaire" >ajouter mon commentaire</button>
            {{ form_end(formCommentaire) }}
        </div>
    </div>
</article>